# Power Generation

[Balancing Mechanism Reporting Service](https://www.bmreports.com/bmrs/?q=help/about-us) is the primary channel for providing operational data relating to the GB Electricity Balancing and Settlement arrangements. It is used extensively by market participants to help make trading decisions and understanding market dynamics and acts as a prompt reporting platform as well as a means of accessing historic data.

## Initiate the Domino Code Assist 

Just click on the blue Domino Code Assist Button to initiate the DCA in the cell below.

If you select the "Take the Tour" button, Domino will build out a full Code Assist sample Notebook.

In [2]:
# this code is generated by the Domino Code Assist toolbar button
import domino_code_assist as dca
dca.init()

Cannot show ipywidgets in text

## Load data

With the Domino Code Assist, we can load data from Domino Data Sources, Domino Datasets, Local Files in the Project folder structure, or even drag and drop in a local file or sample file.

While we could build an application on live data in the future, for exploratory work we can start with a static dataset.

Navigate to Load Data, then the Project Files Tab, Data Tab, then select app_data.csv and run.

In [2]:
import pandas as pd

df = pd.read_csv("/mnt/data/app_data.csv")
df

,HDF,datetime,CCGT,OIL,COAL,NUCLEAR,WIND,PS,NPSHYD,OCGT,OTHER,INTFR,INTIRL,INTNED,INTEW,BIOMASS,INTEM
0,FUELHH,2022-09-01 00:00:00,12833,0,880,4686,7031,0,92,7,184,0,4,0,0,2061,0
1,FUELHH,2022-09-01 00:30:00,12611,0,895,4698,7011,0,92,9,167,0,0,0,0,2058,0
2,FUELHH,2022-09-01 01:00:00,12417,0,823,4700,6928,0,92,9,148,0,0,0,0,2057,0
3,FUELHH,2022-09-01 01:30:00,12332,0,735,4698,6855,0,92,9,145,0,14,0,0,2060,0
4,FUELHH,2022-09-01 02:00:00,12178,0,619,4698,6740,0,91,9,141,0,52,0,0,2066,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10421,FUELHH,2023-04-06 04:00:00,10943,0,230,4127,6267,0,134,0,192,0,0,206,0,2120,0
10422,FUELHH,2023-04-06 04:30:00,10929,0,230,4134,6387,0,134,0,188,0,0,214,0,2154,0
10423,FUELHH,2023-04-06 05:00:00,11245,0,230,4137,6746,0,172,0,142,0,72,222,8,2152,0
10424,FUELHH,2023-04-06 05:30:00,11670,0,230,4138,7078,0,209,0,136,0,146,214,0,2142,0
10425,FUELHH,2023-04-06 06:00:00,12594,0,230,4133,7147,158,335,0,308,0,192,0,68,2139,64

# Transformations: filter out rows

For our analysis, we like to get rid of some rows that have missing data. Using Code Assist, we can filter out these rows using a UI without having to remember the proper Pandas syntax.

In [15]:
import domino_code_assist as dca

plamer_penguins = dca.data.palmerpenguins()
plamer_penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [16]:
df = plamer_penguins.loc[plamer_penguins["bill_depth_mm"].notna()]
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
from solara.express import CrossFilteredFigurePlotly
import plotly.express as px

_base_plot_1 = px.scatter(df_penguins_clean, x="bill_length_mm", y="bill_depth_mm", color="species", facet_col="sex")
_base_plot_1.update_layout(dragmode="lasso")
_base_plot_1.update_layout(margin=dict(l=0, r=0, t=40 if _base_plot_1.layout.title.text else 20, b=0))
plot_1 = CrossFilteredFigurePlotly(_base_plot_1)

plot_1

Cannot show ipywidgets in text

# Visualizations: exploring the islands

Do bill lengths depend on the island the penguins live on? To explore this question, we generate a second visualization, where we plot the average `bill_length` per island.

Because we again enabled the "crossfilter" options, we can select one or multiple island by dragging over the histograms. This selection will be applied as a filter in the scatter plot.


You can edit the visualizations by hovering above the next code cell, hover about the blue Code Assist button, and choosing "Edit."

In [5]:
from solara.express import CrossFilteredFigurePlotly
import plotly.express as px

_base_plot_2 = px.histogram(df_penguins_clean, x="island", y="bill_length_mm", histfunc="avg")
_base_plot_2.update_layout(dragmode="select", selectdirection="h")
_base_plot_2.update_layout(margin=dict(l=0, r=0, t=40 if _base_plot_2.layout.title.text else 20, b=0))
plot_2 = CrossFilteredFigurePlotly(_base_plot_2)

plot_2

Cannot show ipywidgets in text

# Crossfilter widgets: selecting the year

To explore any effect or change over the years, we add a widget that allows us to select one or multiple years. This selection is also applied as a filter to the other two visualizations.

You can edit the widget by hovering above the next code cell, hover about the blue Code Assist button, and choosing "Edit".

In [6]:
from solara import CrossFilterSelect

widget_year = CrossFilterSelect(df_penguins_clean, column="year", multiple=True)
widget_year

Cannot show ipywidgets in text

The following two markdown cells will be used in the app we will create.

## Usage

  * Drag in the scatter plot to select a group of penguins. This selection will be applied as a filter to the histogram.
  * Drag to select histograms to select islands. The island selection will be applied as a filter to the scatter plot.
  * Select years to filter the years in the histogram and scatter plot.
  * Double-click a plot to clear the filter.

## Questions

  * Is there an island that only hosts 1 species?
  * Is there a species that is present on all three islands?

# Creating a penguin app

We now combined the visualizations, the widget, and a few markdown cells into an interactive web app. We can lay out out the visual elements on a grid by dragging them around.

With a single click on "Deploy app", we can deploy our app, so we can share it with others.

You can edit the app by hovering above the next code cell, hover about the blue Code Assist button, and choosing "Edit".

In [7]:
from domino_code_assist.deploy import Deployer
import solara


@solara.component
def Page():
    return dca.CardGridLayout([
        {'item': plot_1, 'w': 12, 'h': 15, 'x': 0, 'y': 9},
        {'item': df_penguins_clean, 'w': 3, 'h': 9, 'x': 0, 'y': 27},
        {'item': plot_2, 'w': 9, 'h': 12, 'x': 3, 'y': 24},
        {'item': widget_year, 'w': 3, 'h': 3, 'x': 0, 'y': 24},
        {'item': dca.MarkdownFromCell('a3963bde-3d7a-498e-9fea-2e51aca04825'), 'w': 12, 'h': 4, 'x': 0, 'y': 0},
        {'item': dca.MarkdownFromCell('9f38857d-6dff-4935-b2fe-c5d68048f2a3'), 'w': 6, 'h': 5, 'x': 0, 'y': 4},
        {'item': dca.MarkdownFromCell('8db4d4a9-6c8e-401e-a30c-472702174903'), 'w': 6, 'h': 5, 'x': 6, 'y': 4}
    ])

Deployer(Page)

Cannot show ipywidgets in text