In [1]:
# this code is generated by the Domino Code Assist toolbar button
import domino_code_assist as dca
dca.init()

Cannot show ipywidgets in text

In [2]:
import pandas as pd

df = pd.read_csv("/mnt/code/data/app_data.csv")
df

,HDF,datetime,CCGT,OIL,COAL,NUCLEAR,WIND,PS,NPSHYD,OCGT,OTHER,INTFR,INTIRL,INTNED,INTEW,BIOMASS,INTEM
0,FUELHH,2022-09-01 00:00:00,12833.0,0,880,4686,7031,0,92,7,184.0,0,4,0,0,2061,0
1,FUELHH,2022-09-01 00:30:00,12611.0,0,895,4698,7011,0,92,9,167.0,0,0,0,0,2058,0
2,FUELHH,2022-09-01 01:00:00,12417.0,0,823,4700,6928,0,92,9,148.0,0,0,0,0,2057,0
3,FUELHH,2022-09-01 01:15:00,NaN,0,824,4699,6928,0,92,9,NaN,0,0,0,0,2057,0
4,FUELHH,2022-09-01 01:18:00,12333.0,0,819,4698,7008,0,92,8,NaN,0,0,0,0,2057,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10425,FUELHH,2023-04-06 04:00:00,10943.0,0,230,4127,6267,0,134,0,192.0,0,0,206,0,2120,0
10426,FUELHH,2023-04-06 04:30:00,10929.0,0,230,4134,6387,0,134,0,188.0,0,0,214,0,2154,0
10427,FUELHH,2023-04-06 05:00:00,11245.0,0,230,4137,6746,0,172,0,142.0,0,72,222,8,2152,0
10428,FUELHH,2023-04-06 05:30:00,11670.0,0,230,4138,7078,0,209,0,136.0,0,146,214,0,2142,0
10429,FUELHH,2023-04-06 06:00:00,12594.0,0,230,4133,7147,158,335,0,308.0,0,192,0,68,2139,64

In [3]:
df = df.dropna(axis=0, how='any')
df

,HDF,datetime,CCGT,OIL,COAL,NUCLEAR,WIND,PS,NPSHYD,OCGT,OTHER,INTFR,INTIRL,INTNED,INTEW,BIOMASS,INTEM
0,FUELHH,2022-09-01 00:00:00,12833.0,0,880,4686,7031,0,92,7,184.0,0,4,0,0,2061,0
1,FUELHH,2022-09-01 00:30:00,12611.0,0,895,4698,7011,0,92,9,167.0,0,0,0,0,2058,0
2,FUELHH,2022-09-01 01:00:00,12417.0,0,823,4700,6928,0,92,9,148.0,0,0,0,0,2057,0
5,FUELHH,2022-09-01 01:30:00,12332.0,0,735,4698,6855,0,92,9,145.0,0,14,0,0,2060,0
6,FUELHH,2022-09-01 02:00:00,12178.0,0,619,4698,6740,0,91,9,141.0,0,52,0,0,2066,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10425,FUELHH,2023-04-06 04:00:00,10943.0,0,230,4127,6267,0,134,0,192.0,0,0,206,0,2120,0
10426,FUELHH,2023-04-06 04:30:00,10929.0,0,230,4134,6387,0,134,0,188.0,0,0,214,0,2154,0
10427,FUELHH,2023-04-06 05:00:00,11245.0,0,230,4137,6746,0,172,0,142.0,0,72,222,8,2152,0
10428,FUELHH,2023-04-06 05:30:00,11670.0,0,230,4138,7078,0,209,0,136.0,0,146,214,0,2142,0
10429,FUELHH,2023-04-06 06:00:00,12594.0,0,230,4133,7147,158,335,0,308.0,0,192,0,68,2139,64